@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
}
#ub-hmda-container {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-weight: normal;
}
#ub-hmda-container *,
#ub-hmda-container *::before,
#ub-hmda-container *::after {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}
#ub-map-container {
	background: -webkit-linear-gradient(bottom, #FFFFFF, #c7eafb);
	background: -o-linear-gradient(bottom, #FFFFFF, #c7eafb);
	background: -moz-linear-gradient(bottom, #FFFFFF, #c7eafb);
	background: linear-gradient(to top, #FFFFFF, #c7eafb);
	position: relative;
	height: 930px;
}
#ub-loading-overlay {
	background-color:#FFFFFF;
	background-image: url(bg-overlay.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 2355px 1301px;
	bottom: 0;
	display: block;
	height: 95%;
	left: 0;
	padding: 20px;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0%;
	width: 100%;
	z-index: 10000;
}
#ub-loading-overlay .ub-loading {
	margin-top: 320px;
	text-align: center;
}
#ub-loading-overlay .ub-loading p {
	color: #0a4c6a;
	font-size: 48px;
	line-height: 60px;
}
#ub-loading-overlay .ub-loading p .fa {
	color: #1696d2;
}
#ub-map-container .ub-intro-wrap {
	background-color: #000;
	background-color: rgba(0,0,0,0.75);
	height: auto;
	padding: 15px 30px 20px 30px;
	position: absolute;
	top:0;
	z-index: 20000;
	width: 100%;
}
#ub-map-container .ub-intro {
	margin: 0 auto;
	max-width: 960px;
}
#ub-map-container .ub-intro h1 {
	color: #FFF;
	font-size: 34px;
	font-weight: normal;
	line-height: 36px;
}
#ub-map-container .ub-intro p {
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 12px 0 0 0;
}
#ub-map-container .ub-intro p.ub-intro-italic {
	font-style: italic;
}
#ub-map-container .ub-intro p.ub-authors {
	font-size: 12px;
	font-style: italic;
	line-height: 16px;
}
#ub-map-container .ub-intro p.ub-top {
	display: block;
}
#ub-map-container #ub-cities-wrap {
	display: block;
	position: absolute;
	top: 246px;
	width: 100%;
	z-index: 1100;
}
#ub-map-container #ub-cities-wrap #ub-cities {
	margin: 0 auto;
	max-width: 1040px;
}
#ub-map-container #ub-cities-wrap #ub-cities .ub-cities-icon {
	background-image: url(bg-icons-v2.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 40px 29px;
	display: block;
	float: left;
	height: 29px;
	margin: 8px 6px 0 0;
	width: 40px;
}
#ub-map-container #ub-cities-wrap #ub-cities a {
	background-color: #FFF;
	border-radius: 15px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.45);
	color: #000;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	margin: 12px 6px 0px 0px;
	padding: 2px 6px;
	text-decoration: none;
}
#ub-map-container #ub-cities-wrap #ub-cities a:hover {
	color:#1696d2;
}
#ub-map-container-wrap {
	position: relative;
	height: 930px;
}
#ub-map-year,
#ub-map-year-blur,
#ub-map,
#ub-map-text {
	height: 930px;
	position:absolute;
	top: 0px;
	width: 100%;
	z-index: 102;
}
#ub-map-year-blur {
	z-index: 101;
}
#ub-map {
	z-index: 100;
}
#ub-map-text {
	z-index: 135;
}
.slide {
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.slideblur {
	opacity: 0.5;
/*	-webkit-transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
	-o-transition: opacity 1.5s;
	transition: opacity 1.5s;*/
}
.showing {
	opacity: 1;
}
.ub-map-gradient {
	background-image:url(bg-gradient.png);
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 1px 220px;
	bottom: 0;
	display: block;
	height: 220px;
	position: absolute;
	width: 100%;
	z-index: 1;
}
#ub-container {
	margin: -60px auto 0 auto;
	max-width: 960px;
	padding: 0;
	position: relative;
	z-index: 300;
}
#ub-map-container .ub-legend-left {
	background-color: FFF;
	background-color: rgba(255,255,255,0.8);
	border-radius: 4px;
	bottom: 132px;
	left: calc((100% - 940px) / 2);
	margin: 0 0 0 50px;
	padding: 12px 10px;
	position: absolute;
	width: 128px;
	z-index: 2000;
}
#ub-map-container .ub-legend-left p {
	clear: both;
	color: #000;
	display: block;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 0px;
}
#ub-map-container .ub-legend-source {
	bottom: 96px;
	left: calc((100% - 940px) / 2);
	margin: 0 0 0 8px;
	position: absolute;
	width: auto;
	z-index: 2000;
}
#ub-map-container .ub-legend-source p {
	color: #000;
	font-size: 11px;
	line-height: 12px;
}
#ub-map-container .ub-legend-right {
	bottom: 94px;
	margin: 0 auto;
	position: absolute;
	right: calc((100% - 940px) / 2);
	width: 120px;
	z-index: 2000;
}
#ub-map-container .ub-legend-right #ub-menu {
	background: transparent;
	display: block;
	float: right;
	height: 192px;
	position: relative;
    width: 152px;
    z-index: 2000;
}
#ub-map-container .ub-legend-right #ub-menu .ub-pointers {
	background-color: FFF;
	background-color: rgba(255,255,255,0.8);
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	height: 42px;
	margin: 0 0 2px 0;
	position: relative;
	width: 100%;
}
#ub-map-container .ub-legend-right #ub-menu .ub-pointer-purchased,
#ub-map-container .ub-legend-right #ub-menu .ub-pointer-refinanced {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	display: block;
	font-size: 10px;
	line-height: 0px;
	position: absolute;
	text-transform: uppercase;
}

#ub-map-container .ub-legend-right #ub-menu .ub-pointer-purchased {
	height: 15px;
	right: 47px;
	text-indent: -62px;
	top: 27px;
	width: 18px;
}
#ub-map-container .ub-legend-right #ub-menu .ub-pointer-refinanced {
	border-right: 1px solid #9d9d9d;
	border-top: 1px solid #9d9d9d;
	color: #9d9d9d;
	height: 28px;
	right: 16px;
	text-indent: -65px;
	top: 14px;
	width: 49px;
}

#ub-map-container .ub-legend-right #ub-menu ul {
	display: block;
	float: left;
	width: 86px;
}
#ub-map-container .ub-legend-right #ub-menu ul li {
	background-color: FFF;
	background-color: rgba(255,255,255,0.8);
    color: #000;
	display: block;
	float: left;
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	list-style: none;
	margin: 0 0 2px 0;
	padding: 0px 10px;
	width: 100%;
}
#ub-map-container .ub-legend-right #ub-menu a.ub-button,
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-all-link {
	background-color: FFF;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid #FFFFFF;
	color: #000;
	font-size: 18px;
	display: block;
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 0 0 2px 2px;
	padding: 0px 2px;
	text-align: center;
	text-decoration: none;
	width: 32px;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-asian-link {
	background-color: #353535;
	border: 1px solid #353535;
	color: #fff;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-hispanic-link {
	background-color: #ec008b;
	border: 1px solid #ec008b;
	color: #fff;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-black-link {
	background-color: #fccb41;
	border: 1px solid #fccb41;
	color: #fff;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-white-link {
	background-color: #1696d2;
	border: 1px solid #1696d2;
	color: #fff;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-all-link {
	background-color: FFF;
	background-color: rgba(255,255,255,0.7);
	color: #9d9d9d;
	margin: 0 0 2px 0px;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-asian-link {
	background-color: #696969;
	border: 1px solid #000000;
	color: #fff;
	margin: 0 0 2px 0px;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-hispanic-link {
	background-color: #eb99c2;
	border: 1px solid #761548;
	color: #fff;
	margin: 0 0 2px 0px;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-black-link {
	background-color: #fce39e;
	border: 1px solid #9b7c26;
	color: #fff;
	margin: 0 0 2px 0px;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-white-link {
	background-color: #73bfe2;
	border: 1px solid #0a4c6a;
	color: #fff;
	margin: 0 0 2px 0px;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-all-link:hover,
#ub-map-container .ub-legend-right #ub-menu a:hover {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	color: #000000;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-asian-link:hover {
	background-color: #FFFFFF;
	color: #353535;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-hispanic-link:hover {
	background-color: #FFFFFF;
	color: #ec008b;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-black-link:hover {
	background-color: #FFFFFF;
	color: #fccb41;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-white-link:hover {
	background-color: #FFFFFF;
	color: #1696d2;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-all-link:hover {
	background-color: #FFFFFF;
	border: 1px solid #9d9d9d;
	color: #9d9d9d;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-asian-link:hover {
	background-color: #FFFFFF;
	color: #696969;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-hispanic-link:hover {
	background-color: #FFFFFF;
	color: #eb99c2;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-black-link:hover {
	background-color: #FFFFFF;
	color: #fce39e;
}
#ub-map-container .ub-legend-right #ub-menu a#ub-refinance-white-link:hover {
	background-color: #FFFFFF;
	color: #73bfe2;
}
#ub-map-container .ub-legend-right #ub-menu a .fa {
	line-height: 28px;
}
#ub-map-container .ub-legend-right #ub-menu a .fa.fa-check {
	display: none;
}
#ub-map-container .ub-legend-right #ub-menu a.active .fa.fa-check {
	display: inline-block;
}
#ub-map-container .ub-legend-right #ub-menu a.active .fa.fa-times {
	display: none;
}

.ub-graphic-footer p {
	color: #000;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 14px;
	margin: 0 0 4px 8px !important;
}
.ub-graphic-footer p.ub-map-source {
	display: none;
}
.ub-graphic-footer p.ub-urban {
	color: #000;
	display: block;
	float: right;
	font-size: 8px;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 8px 0 0 !important;
	text-transform: uppercase;
}
.ub-graphic-footer p.ub-urban span {
	color: #1696d2;
}


.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
	display: none !important;
}
.mapboxgl-ctrl-top-right {
	bottom: 132px;
	left: calc((100% - 940px) / 2);
	margin: 0 0 0 8px !important;
	right: initial;
	top: initial;
	z-index: 3000;
}
.mapboxgl-ctrl-group {
	background-color: #ececec;
	border: 1px solid #9d9d9d;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	box-shadow: none;
}

.mapboxgl-ctrl-group > button.mapboxgl-ctrl-compass {
	display: none !important;
}
.ub-graphic-container {
	background-color: #FFF;
/*	background-color: transparent; */
    display: block;
	float:left;
	height: 271px;
    padding-bottom:0; /* aspect ratio */
    overflow: visible;
	position: relative;
    vertical-align: top;
    width: 100%;
	z-index: 1000;
}
.ub-graphic-container {
	z-index: 1;
}
.ie11 .ub-graphic-container {
    overflow: hidden;
}
.ub-graphic-container .ub-controls {
	background-color: #9d9d9d;
	border: none;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	height: 32px;
	left: -25px;
	line-height: 32px;
	margin: 0 !important;
	position: absolute;
	text-align: center;
	top: -24px;
	width: 32px;
	z-index: 100;
}
.ub-graphic-container .ub-controls:hover {
	background-color: #d2d2d2;
}
.ub-graphic-container .ub-controls.active {
	background-color: #fdbf11;
	color: #000;
}
.ub-graphic-container .ub-controls.active:hover {
	background-color: #fce39e;
}
.ub-graphic-container ul {
	display: table;
	height: 32px;
	margin: 0 0 0 8px !important;
	position: relative;
	text-align: center;
	top: -24px;
	width: 100%;
	width: calc(100% - 8px);
	z-index: 1;
}
.ub-graphic-container ul li {
	border-left: 1px solid #FFF;
	color: #FFF;
	display: table-cell;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	list-style: none;
	width: 1%;
}
.ub-graphic-container ul li a {
	background-color: #1696d2;
	color: #FFF;
	cursor: pointer;
	display: block;
	text-decoration: none;
	width: 100%;
}
.ub-graphic-container ul li a:hover {
	background-color: #46abdb;
}
.ub-graphic-container ul li a.ub-year-active,
.ub-graphic-container ul li a.ub-year-active:hover {
	background-color: #fdbf11;
	color: #000;
	cursor: default;
}
.ub-graphic-container ul li a.ub-year-inactive,
.ub-graphic-container ul li a.ub-year-inactive:hover {
	background-color: #73bfe2;
	color: #FFF;
	cursor: default;
}

.ub-graphic-container ul li:first-child {
	border-left: none;
}

#ub-container .ub-footer-text {
	display: none;
}


.ub-content-responsive {
	background-color:#FFFFFF;
/*	background-color: transparent; */
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0px;
}
.ub-line-container {
	padding: 0 0 30px 0;
}
path {
  stroke: #1696d2;
  stroke-width: 3;
  fill: none;
}
.ub-points circle {
  stroke: #000;
  stroke-width: 1;
  fill: #FFF;
}

.axis path,
.axis line {
	fill: none;
	stroke: #e3e3e3;
	stroke-width: 1;
/*	shape-rendering: crispEdges; */
}
.axis path.domain {
	stroke: #696969;
	stroke-width: 1.5;
	shape-rendering: crispEdges;
}
.tick text {
	fill: #FFFFFF;
	width: 100%;
}
.x.axis .tick:first-child {
	display: none;
}
.x.axis .tick .ub-xaxis-bg {
	fill: #1696d2;
	fill-opacity:0.2;
	stroke: #FFFFFF;
	stroke-width: 1px;
}
.ub-graph-title text {
	fill: #000000;
	font-size: 15.5px;
	font-weight: 800;
}
.ub-graph-name text {
	fill: #1696d2;
	font-size: 20px;
	font-weight: 800;
}
.ub-graph-caption-title text {
	fill: #1696d2;
	font-size: 14px;
	font-weight: 800;
}
.ub-graph-caption text {
	fill: #000000;
	font-size: 14px;
	font-weight: normal;
}
.ub-graph-month text {
	fill: #000000;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
.ub-graph-month-number text {
	fill: #1696d2;
	font-size: 16px;
	font-weight: 800;
}
.ub-graph-line line {
	stroke: #000000;
	stroke-width: 1;
	shape-rendering: crispEdges;
}


@media screen and (max-width:1080px) {
	.ub-graphic-container .ub-controls {
		border-bottom-left-radius: 0;
		border-top-right-radius: 5px;
		left:8px;
		top:-57px;
	}
	.mapboxgl-ctrl-top-right {
		margin: 0 0 0 -2px !important;
	}
	#ub-map-container .ub-legend-left {
		margin: 0 0 0 40px;
	}
	#ub-map-container .ub-legend-source {
		margin: 0 0 0 40px;
	}
}

@media screen and (max-width:960px) {
	#ub-map-container .ub-legend-left {
		left: calc((100% - 820px) / 2);
	}
	#ub-map-container .ub-legend-source {
		left: calc((100% - 820px) / 2);
	}
	#ub-map-container .ub-legend-right {
		right: calc((100% - 820px) / 2);
	}
	.mapboxgl-ctrl-top-right {
		bottom: 132px;
		left: calc((100% - 820px) / 2);
	}
}

@media screen and (max-width:840px) {
	#ub-map-container,
	#ub-map-container-wrap,
	#ub-map-year,
	#ub-map-year-blur,
	#ub-map,
	#ub-map-text {
		height: 990px;
	}
	#ub-map-container #ub-cities-wrap {
		margin: 0 5%;
		top: 278px;
		width: 90%;
	}
	#ub-map-container .ub-intro h1 {
		font-size: 28px;
		line-height: 32px;
	}
	#ub-map-container .ub-legend-left {
		left: calc((100% - 700px) / 2);
	}
	#ub-map-container .ub-legend-source {
		left: calc((100% - 700px) / 2);
	}
	#ub-map-container .ub-legend-right {
		right: calc((100% - 700px) / 2);
	}
	.mapboxgl-ctrl-top-right {
		bottom: 132px;
		left: calc((100% - 700px) / 2);
	}
	.ub-graphic-container ul li {
		font-size: 13px;
	}
}

@media screen and (max-width:720px) {
	#ub-map-container,
	#ub-map-container-wrap,
	#ub-map-year,
	#ub-map-year-blur,
	#ub-map,
	#ub-map-text {
		height: 930px;
	}
	#ub-loading-overlay {
		background-image: none;
	}
	#ub-loading-overlay .ub-loading {
		margin-top: 220px;
	}
	#ub-loading-overlay .ub-loading p {
		font-size: 24px;
		line-height: 30px;
	}
	#ub-map-container #ub-cities-wrap {
		top: 218px;
	}
	#ub-map-container #ub-cities-wrap #ub-cities .ub-cities-icon {
		height: 105px;
	}
	#ub-map-container .ub-legend-left {
		left: calc((100% - 580px) / 2);
	}
	#ub-map-container .ub-legend-source {
		left: calc((100% - 580px) / 2);
	}
	#ub-map-container .ub-legend-right {
		right: calc((100% - 580px) / 2);
	}
	.mapboxgl-ctrl-top-right {
		bottom: 132px;
		left: calc((100% - 580px) / 2);
	}
	.ub-graphic-container {
		height: 208px;
	}
	.ub-graphic-container ul li {
		font-size: 12px;
	}
	#ub-map-container .ub-intro p {
		display: block;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		margin: 12px 0 0 0;
	}
	#ub-map-container .ub-intro p.ub-intro-italic,
	#ub-map-container .ub-intro p.ub-authors {
		display: none;
	}
	#ub-container .ub-footer-text {
		display: block;
		float: left;
		margin: 0 0 12px 0 !important;
		padding: 0 8px;
	}
	#ub-container .ub-footer-text p {
		color: #000;
		display: block;
		font-size: 13px;
		font-weight: normal;
		line-height: 18px;
		margin: 12px 0 0 0;
	}
	#ub-container .ub-footer-text p.ub-intro-italic {
		border-bottom: 1px solid #000;
		font-style: italic;
		padding: 0 0 10px 0;
	}
	#ub-container .ub-footer-text p.ub-authors {
		font-size: 12px;
		font-style: italic;
		line-height: 16px;
	}
	#ub-container .ub-footer-text p.ub-bottom {
		display: none;
	}
}
@media screen and (max-width:600px) {
	#ub-map-container,
	#ub-map-container-wrap,
	#ub-map-year,
	#ub-map-year-blur,
	#ub-map,
	#ub-map-text {
		height: 490px;
	}
	#ub-map-container .ub-intro-wrap {
		padding: 10px 10px 10px 10px;
	}
	#ub-map-container .ub-intro h1 {
		font-size: 24px;
		line-height: 28px;
	}
	#ub-map-container #ub-cities-wrap {
		top: 80px;
	}
	#ub-map-container #ub-cities-wrap #ub-cities .ub-cities-icon {
		margin: 4px 6px 0 0;
	}
	#ub-map-container #ub-cities-wrap #ub-cities a {
		margin: 8px 6px 0px 0px;
	}
	#ub-map-container .ub-legend-source {
		display: none;
	}
	#ub-map-container .ub-legend-left {
		bottom: 0;
		left: initial;
		margin: 0;
		padding: 10px;
		right: 2%;
		text-align: right;
		width: auto;
	}
	#ub-map-container .ub-legend-left p {
		font-size: 12px;
		line-height: 14px;
	}
	#ub-map-container .ub-legend-right {
		bottom: 50px;
		margin: 0;
		right: 2%;
		width: 144px;
	}
	#ub-map-container .ub-legend-right #ub-menu {
		height: 172px;
		width: 144px;
	}
	#ub-map-container .ub-legend-right #ub-menu ul li {
		font-size: 12px;
		height: 24px;
		line-height: 24px;
	}
	#ub-map-container .ub-legend-right #ub-menu a.ub-button,
	#ub-map-container .ub-legend-right #ub-menu a#ub-purchase-all-link {
		height: 24px;
		line-height: 24px;
		width: 28px;
	}
	#ub-map-container .ub-legend-right #ub-menu a .fa {
		line-height: 24px;
	}
	.ub-map-gradient {
		background-size: 1px 76px;
		height: 76px;
	}
	.mapboxgl-ctrl-top-right {
		bottom: 42px;
		left: 2%;
		margin: 0 !important;
		right: initial;
		top: initial;
		z-index: 3000;
	}

	.ub-graphic-container {
		height: auto;
	}
	.ub-content-responsive {
		position: relative;
	}
	.ub-graphic-container .ub-controls {
		left: 2%;
		top: -33px;
	}
	.ub-graphic-container ul {
		display: block;
		float: left;
		height: 66px;
		top: 0px;
	}
	.ub-graphic-container ul {
		margin: 0 2% !important;
		width: 96%;
	}
	.ub-graphic-container ul li {
		border-left: none;
		border-right: 1px solid #FFF;
		display: block;
		float: left;
		margin: 0 0 1px 0 !important;
		width: 11.1%;
	}
	#ub-map-container .ub-intro p.ub-top {
		display: none;
	}
	#ub-container {
		margin: 0 auto;
	}
	#ub-container .ub-footer-text p.ub-intro-italic {
		border-bottom: none;
		padding: 0 0 0 0;
	}
	#ub-container .ub-footer-text p.ub-bottom {
		border-bottom: 1px solid #000;
		padding: 0 0 10px 0;
		display: block;
	}
	.ub-graphic-footer {
		display: block;
		float: left;
		width: 100%;
	}
	.ub-graphic-footer p.ub-map-source {
		display: block;
		width: 95%;
	}
}